<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body style="font-family: sans-serif;">
        <h1 style="margin-bottom: 30px; color: #f14e32; text-align:center; font-weight:bold">{{ title }}</h1>
        <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ddd; margin-bottom: 30px;">
        <div>
          {% for key, val in content %}
          <p style="margin-bottom: 30px; color #555;">
            <b style="color: #555;">{{ key }}</b><br>
            <span style="margin-left: 20px; color: #999;">
            {% if val is iterable %}
              {% for values in val %}
                {{ values }}
              {% endfor %}
            {% else %}
              {{ val }}
            {% endif %}
            </span>
          </p>
          {% endfor %}
        </div>
    </body>
</html>